#button{
  width:400px;
  color:white;
  background-color: green;
  margin:0 auto;
  text-align: center;
  cursor:pointer;
  position:relative;
}
#button:hover{

}
#clicks{
  line-height: 100px;
  padding-bottom: 40px;
}
#count{
  position:absolute;
  width:100%;
  bottom:0;
  background-color: darkgreen;
  padding:10px 0;
  color:white;
}
#number{

}
